<template>
  <div class="row justify-content-center mx-0">
    <div class="col-12 col-md-10">
      <!-- <home-menu></home-menu> -->
    </div>
    <div class="col-12 col-md-10">
      <!-- <a href="#" @click="getTrendingMovies('day')" class="btn btn-info mx-3 h4">Trending today</a> -->
      <!-- <a href="#" @click="getTrendingMovies('week')" class="btn btn-info mx-3 h4">This week</a> -->
      <!-- <router-link to="/movies" class="btn btn-info mx-3 h4" >Trending today</router-link> -->
      <!-- <router-link to="/movies/trending-week" class="btn btn-info mx-3 h4" >This week</router-link> -->
    </div>
    <router-view :appLanguage="appLanguage" ></router-view>
  </div>
</template>

<script>
  import API from "@/api/apiData";

  // import HomeMenu from '@/components/Menu.vue';

  export default {
    name: 'movies-home',
    components: {
      // HomeMenu,
    },
    props:{
      /* movies: {
        type: Array,
        required: true,
      } */
      appLanguage:{
        type: String,
        require: true,
      },
    },
    data(){
      return{ 
        movies: '',
      }
    },
    methods: {
      //
      setLanguage(lan){
        this.$parent.setLanguage(lan)
      },
    },
    mounted(){
      API.getTrendingMovies("day"); 
    },
    watch: {
      appLanguage: function(){
        // this.getTrendingMovies("day");
      }
    },
  }
</script>
