<template>
  <div class="row mx-0">
    <div class="col-12">
    </div>
    <!-- Hola detail -->
    <!-- <router-view ></router-view> -->
    <movie-detail :movie="movieDetails" > </movie-detail>
  </div>
</template>
<script>
  import API from "@/api/apiData";

  import MovieDetail from "@/components/MovieDetail";

  import {movieDetailsDto} from "@/dto/moviesDto";

  export default {
    name: 'movie-details',
    components: {
      MovieDetail,
    },
    props:{
      appLanguage:{
        type: String,
        require: true,
      },
      movieId:{
        type: Number,
        require: true,
      },
    },
    data(){
      return {
        // movieId: this.$parent.movieId,
        movieDetails: {},
      }
    },
    methods:{
      //
    },
    mounted(){
      API.showMovieDetail(this.$route.params.movieId, this.appLanguage)
      .then((data) => {
        this.movieDetails = movieDetailsDto(data.data);
        //console.log(this.movieDetails);
      } );
      // console.log(this.$route.params.movieId);
    },
    watch: {
      appLanguage: function(){
        this.showMovieDetail(this.$route.params.movieId);
      } ,
    }
  }
</script>
