<template>
  <div class="row justify-content-center mx-0">
    <div class="col-12 col-md-10 my-3">
      <h4>Trending day movies</h4>
    </div>
    <div class="col-12 col-md-10">
      <div class="row">
        <div class="col-12 col-md-4 col-lg-3 " v-for="(movie, i) in movies" :key="i">
          <movie-card :movie="movie" ></movie-card>
        </div>
      </div>
      <div class="row my-3 ">
        <div class="col-12 text-center">
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center " id="moviePagination">
              <li class="page-item disabled" id="prev">
                <button class="page-link" id="prev" @click="setCurrentPage(currentPage-1)" >Previous</button>
              </li>
              <li class="page-item" v-for="i in 10" :key="i" :id="i" >
                <button class="page-link" @click="setCurrentPage(i)" :id="i" >{{i}}</button>
              </li>
              <li class="page-item" id="next">
                <button class="page-link" @click="setCurrentPage(currentPage+1)" id="next" >Next</button>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import API from "@/api/apiData";

  import MovieCard from '@/components/MovieCard.vue';

  export default {
    name: 'trending-movies-day',
    components: {
      MovieCard,
    },
    props:{
      /* movies: {
        type: Array,
        required: true,
      } */
      appLanguage: {
        type: String,
        require: true,
      },
    },
    data(){
      return{ 
        movies: '',
        currentPage: 1,
      }
    },
    methods: {
      //
      setLanguage(lan){
        this.$parent.setLanguage(lan)
      },
      setCurrentPage(pg){
        if (pg >= 1 && pg <= 10) {
          this.currentPage = pg;
          this.setDisablePage(pg);
        }
      },
      setDisablePage(id){
        // eslint-disable-next-line no-undef
        let pageList = $('#moviePagination')[0].children;
        for (let i = 0; i < pageList.length; i++) {
          if (pageList[i].classList.contains('disabled')) {
            // 
            pageList[i].classList.remove('disabled');
          }
        }
        if ( this.currentPage == 1 ) {
          pageList[0].classList.add('disabled');
        } else if( this.currentPage == 10 ){
          pageList[11].classList.add('disabled');
        }
        pageList[id].classList.add('disabled');
      },
    },
    mounted(){
      API.getTrendingMovies('day', this.appLanguage, this.currentPage)
      .then((data) => {
        this.movies = data.data.results;
        this.movieDetails = [];
      });
      this.setDisablePage(1);
    },
    watch: {
      appLanguage: function(){
        API.getTrendingMovies('day', this.appLanguage, this.currentPage)
        .then((data) => {
          this.movies = data.data.results;
          this.movieDetails = [];
        }); 
      },
      currentPage: function(){
        API.getTrendingMovies('day', this.appLanguage, this.currentPage)
        .then((data) => {
          this.movies = data.data.results;
          this.movieDetails = [];
        }); 
      },
    },
  }
</script>
