<template>
  <main>
    <div class="row justify-content-center mx-0">
      <div class="col 12 col-md-10">
        <h4>Movie Genres</h4>
      </div>
    </div>
    <div class="row justify-content-center mx-0">
      <div class="col 12 col-md-10">
        <table class="table table-bordered table-striped " >
          <thead class="bg-info">
            <tr>
              <td>#</td>
              <td> Genre </td>
            </tr>
          </thead>
          <tbody>
            <genre-row :genresData="el"  v-for="(el, i) in genresData" :key="i"></genre-row>
          </tbody>
        </table>
      </div>
    </div>
  </main>
</template>
<script>

  import API from "@/api/apiData";
  import dto from "@/dto/genresDto";
  import GenreRow from '@/components/GenreRow.vue';

  export default {
    name: 'movie-genres',
    props:{
      appLanguage: {
        type: String,
        require: true,
      },
    },
    data(){
      return{ 
        apiKey: this.$parent.apiKey,
        genresData: [],
      }
    },
    components: {
      GenreRow
    },
    methods: {
    },
    mounted() {
      API.getMovieGenres(this.appLanguage).then(
        (data) => {
          // console.log( dto.movieGenresDto(data.data) )
          this.genresData = dto.movieGenresDto(data.data)
        }
      )
    },
    watch: {
      appLanguage: function(){
        API.getMovieGenres(this.appLanguage).then(
          (data) => {
            // console.log( dto.movieGenresDto(data.data) )
            this.genresData = dto.movieGenresDto(data.data)
          }
        )
      }
    }
  }
</script>