<template>
  <main>
    <router-view :appLanguage="appLanguage"></router-view>
  </main>
</template>

<script>
  export default {
    name: "certifications-home",
    props:{
      appLanguage:{
        type: String,
        require: true,
      },
    },
  }
</script>