<template>
  <main>
    <div class="row mx-0 justify-content-center align-items-center">
      <div class="col-12">
        <div class="row mx-0 my-3">
          <div class="col-12">
            <h3>Movie Certifications</h3>
          </div>
        </div>
        <div class="row mx-0">
          <div class="col-12 col-md-4 ">
            <select class="form-select" aria-label="Default select example" name="select_country" id="select_country" @change="loadCertifications($event)">
              <option value="" selected>Select One</option>
              <option v-for="(co, i) in countries" :key="i" v-bind:value="co ">{{ co }}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mx-0 my-3" v-if="certificationsData.length > 0">
      <div class="col-12 col-md-10 my-3" >
        <table class="table table-bordered table-striped " >
          <thead class="bg-info">
            <tr>
              <td>Certification</td>
              <td> Meaning</td>
            </tr>
          </thead>
          <tbody>
            <certifications-card-row :certificationsData="el"  v-for="(el, i) in certificationsData" :key="i"></certifications-card-row>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row mx-0 my-3" v-else>
      <p>Please, select a country.</p>
    </div>
  </main>
</template>

<script>
  import API from "@/api/apiData";
  // import movieCertificationsDto from "@/dto/movieCertificationsDto";

  // import CertificationsCard from '@/components/CertificationsCard'
  import CertificationsCardRow from '@/components/CertificationsCardRow'

  export default {
    name: "movie-certifications",
    props: {
      // countries: [],
      appLanguage:{
        type: String,
        require: true,
      },
    },
    components: {
      // CertificationsCard,
      CertificationsCardRow,

    },
    data(){
      return {
        certifications: {
          type: Object,
        },
        certificationsData: [],
        country: {
          type: String
        },
        countries: {
          type: Array,
        }
      }
    },
    methods: {
      loadCertifications(val){
        const ex = val.target.value;
        if(ex !== ''){
          this.certificationsData = this.certifications[ex];
        } else{
          this.certificationsData = [];
        }
        console.log(this.certifications[ex]);
      }
    },
    mounted() {
      API.getMovieCertifications(this.appLanguage)
      .then((data) => {
        //this.movieDetails = data.data;
        // this.movieDetails = movieCertificationsDto(data.data);
        this.certifications = data.data.certifications;
        // console.log('Hola 1');
        //console.log(this.certifications);
        this.countries = API.getCertificationsByCountry(this.certifications);
      } );
      
      // this.countries = API.getMovieCertificationsCountries(this.certifications);
      // console.log('Hola 2')
      //let res = Object.keys(this.certifications).map((key) =>  [key] );
      //console.log(res);

    },
    watch: {
      appLanguage: function(){
        API.getMovieCertifications(this.appLanguage)
      .then((data) => {
        //
        this.certifications = data.data.certifications;
        this.countries = API.getCertificationsByCountry(this.certifications);
      } );
      },
    }
  }
</script>
