<template>
  <div id="app">
    <div class="row justify-contente-center mx-0">
      <div class="col-12 col-md-10">
        <home-menu></home-menu>
      </div>
    </div>
  </div>
</template>

<script>
  import HomeMenu from '@/components/Menu'
  export default {
    name: 'error-page',
    components: {
      HomeMenu,
    }
  }
</script>
