<template>
  <div class="row justify-content-center mx-0">
    <div class="col 12 col-md-10">
      Welcome to Electron + Vue Movies App Demo
    </div>
  </div>
</template>

<script>

  export default {
    name: 'home-default',
    components: {
    },
  }
</script>

<style>

</style>