<template>
  <!-- <main> -->
    <div class="card h-100 mb-4 shadow-lg border border-secondary bg-dark text-light">
      <div class="card-body">
        <h5 class="card-title bg-white text-dark">{{ certificationsData.certification }}</h5>
        <p class="card-text">{{ certificationsData.meaning }}</p>
      </div>
    </div>
  <!-- </main> -->
</template>

<script>
  export default {
    name: "certifications-card",
    props:{
      certificationsData:{
        type: Object,
      }
    }
    //
  }
</script>