<template>
  <tr>
    <td>
      {{ this.$vnode.key + 1 }}
    </td>
    <td>
      {{ genresData.name }}
    </td>
  </tr>
</template>

<script>
  export default {
    name: "genre-row",
    props:{
      genresData:{
        type: Object,
      }
    }
    //
  }
</script>