<template>
  <main>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
      <router-link class="navbar-brand bg-info px-3 text-white " to="/">Movie Apps Demo</router-link>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <router-link class="nav-link" to="/" >Home</router-link>
          </li>
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Movies </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <!-- <router-link class="dropdown-item" to="/movies"> Movies Home </router-link> -->
              <router-link class="dropdown-item" to="/movies"> Trending Day </router-link>
              <router-link class="dropdown-item" to="/movies/trending-week"> Trending Week </router-link>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Companies </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <router-link class="dropdown-item" to="/companies"> Companies </router-link>
            </div>
          </li>
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Certifications </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <router-link class="dropdown-item " to="/certifications"> Certifications </router-link>
              <router-link class="dropdown-item " to="/certifications/movies"> Certifications Movies </router-link>
              <router-link class="dropdown-item " to="/certifications/tv-shows"> Certifications TV Shows </router-link>
            </div>
          </li>
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Genres </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <router-link class="dropdown-item " to="/genres/movies"> Movies Genres </router-link>
              <router-link class="dropdown-item " to="/genres/tv-shows"> TV Shows Genres </router-link>
            </div>
          </li>
        </ul>
      </div>
      <form class="form-inline my-1 my-lg-0">
        <!-- Put the language changer here -->
        <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
        <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
      </form>
    </nav>
  </main>
</template>

<script>

  export default { 
    name: 'main-menu',
    props: {},
    data() {
      return {
        appLang: [
          {
            code: "en",
            name: "Inglés",
          },
          {
            code: "es",
            name: "Español",
          },
          {
            code: "fr",
            name: "Francés",
          },
          {
            code: "pt",
            name: "Portugués",
          },
        ],
        appLanguage: 'en',
      }
    },
    methods: {
      setLanguage(lan){
        this.appLanguage = lan.target.value;
      }
    }
  }
</script>