<template>
  <main>
    <div class="row justify-content-center my-4 ">
      <div class="col-12 my-4">
        <!-- <div class="col-8 col-md-3">
          <select class="form-select" name="select_language" id="select_language" v-model="appLanguage" @change="setLanguage($event)">
            <option v-for="(al, i) in appLang" :key="i" v-bind:value="al.code">{{ al.name }}</option>
          </select>
        </div> -->
      </div>
      <div class="col-12 mx-0">
        <div class="my-4">
          <router-link to="/" class="btn btn-secondary mx-3 h4"> Home </router-link>
          <router-link to="/movies" class="btn btn-secondary mx-3 h4"> Movies </router-link>
          <router-link to="/companies" class="btn btn-secondary mx-3 h4"> Companies</router-link>
        </div>
      </div>
    </div>
  </main>
</template>

<script>

  export default { 
    name: 'menu-home',
    props: {},
    data(){
      return {
        appLang: [
          {
            code: "en",
            name: "Inglés",
          },
          {
            code: "es",
            name: "Español",
          },
          {
            code: "fr",
            name: "Francés",
          },
          {
            code: "pt",
            name: "Portugués",
          },
        ],
        appLanguage: 'en',
      }
    },
    methods: {
      setLanguage(lan){
        this.appLanguage = lan.target.value;
      }
    }
  }
</script>