<template>
  <main>
    <div class="row mx-0" v-if="movie !== undefined">
      <div class="col-12">
        <div class="row justify-content-center align-items-center">
          <div class="col-12 col-md-4" v-if="movie.poster_path" >
            <img class="card-img-top img-fluid w-100" :src="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" alt="Card image cap" />
          </div>
        </div>
        <div class="row my-5">
          <h3 class="text-center "><b>Title:</b> {{ movie.title }} </h3>
          <p class="text-start "><b>Original title:</b> {{ movie.original_title }} </p>
          <p class="text-start "><b>Status:</b> {{ movie.status }} </p>
          <p class="text-start "><b>Release date:</b> {{ movie.release_date }} </p>
          <p class="text-start "><b>Runtime:</b> {{ movie.runtime }} </p>
          <p class="text-start "><b>Overview:</b> {{ movie.overview }} </p>
          <p class="text-start " v-if="belongs_to_collection"><b>Belongs to collection:</b> {{ belongs_to_collection.name }} </p>
        </div>
        <div class="row my-5">
          <div class="col-12" v-if="production_companies.length > 0 ">
            <h4>Production Companies</h4>
            <ul>
              <li v-for="(pc, i) in production_companies " :key="i" >
                <p class="text-start "> {{ pc.name }} </p>
              </li>
            </ul>
          </div>
          <div class="col-12" v-if="genres.length > 0 ">
            <h4>Genres</h4>
            <ul>
            <li v-for="(gen, i) in genres " :key="i" >
                <p class="text-start "> {{ gen.name }} </p>
              </li>
            </ul>
          </div>
          <div class="col-12" v-if="spoken_languages.length > 0 " >
            <h4>Spoken Languages</h4>
            <ul>
            <li v-for="(sl, i) in spoken_languages " :key="i" >
                <p class="text-start "> {{ sl.english_name }} </p>
              </li>
            </ul>
          </div>
          <div class="col-12">
            <h4>Another details</h4>
            <ul>
              <li class="text-start"><b>Popularity: </b> {{movie.popularity}}</li>
              <li class="text-start"><b>Vote punctuation: </b> {{movie.vote_average}}</li>
              <li class="text-start"><b>Popularity: </b> {{movie.popularity}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row" v-else>
      <p>Movie not found, please, try again. </p>
    </div>
  </main>
</template>

<script>
  export default {
    name: "MovieDetail",
    props: {
      movie: {
        type: Object,
        // required: true,
        // value: this.$route.params.movieId,
      },
    },
    data(){
      return{
        production_companies: [],
        genres: [],
        belongs_to_collection: null,
        spoken_languages: [],
      }
    },
    methods: {
      setProductionCompanies(){
        setTimeout( () => {
          this.movie.production_companies ? this.production_companies = this.movie.production_companies : [];
        }, 500);
      },
      setGenres(){
        setTimeout( () => {
          this.movie.genres ? this.genres = this.movie.genres : [];
        }, 500);
      },
      setBelongsToCollections(){
        setTimeout( () => {
          this.movie.belongs_to_collection ? this.belongs_to_collection = this.movie.belongs_to_collection : null;
        }, 500);
      },
      setSpokenLanguages(){
        setTimeout( () => {
          this.movie.spoken_languages ? this.spoken_languages = this.movie.spoken_languages : [];
        }, 500);
      },
    },
    mounted(){
      this.setProductionCompanies();
      this.setGenres();
      this.setBelongsToCollections();
      this.setSpokenLanguages();
      // 
    }
  };
</script>