<template>
  <div id="app">
    <div class="container-fluid ">
      <main-menu></main-menu>
    </div>
    <div class="container pt-3 ">
      <div class="text-center">
        <h2 class="text-center mt-5">Trending Movies 🍿</h2>
      </div>
      <div class="row justify-content-center my-4">
        <div class="col-8 col-md-3">
          <select class="form-select" name="select_language" id="select_language" v-model="appLanguage" @change="setLanguage($event)">
            <option v-for="(al, i) in appLang" :key="i" v-bind:value="al.code">{{ al.name }}</option>
          </select>
        </div>
      </div>

      <router-view :appLanguage="appLanguage" ></router-view>

    </div>
  </div>
</template>

<script>
  // import HomeMenu from './components/Menu.vue'
  import MainMenu from './components/MainMenu.vue'

  export default {
    name: 'App',
    components: {
      // HomeMenu,
      MainMenu,
    },
    data() {
      return {
        movies: [],
        movieDetails: [],
        appLang: [
          {
            code: "en",
            name: "Inglés",
          },
          {
            code: "es",
            name: "Español",
          },
          {
            code: "fr",
            name: "Francés",
          },
          {
            code: "pt",
            name: "Portugués",
          },
        ],
        appLanguage: 'en',
      };
    },
    methods: {
      setLanguage(lan){
        this.appLanguage = lan.target.value;
      }
    },
    mounted(){
      // 
    },
    watch: {
      // 
    },
  }
</script>

<style>
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    text-align: center !important;
    color: #2c3e50 !important;
    /* margin-top: 60px; */
  }
</style>
