<template>
  <main>
    <div class="row justify-content-center mx-0">
      <div class="col 12 col-md-10">
      </div>
    </div>
    <div class="row justify-content-center mx-0">
      <div class="col 12 col-md-10">
        Hola Companies.
      </div>
    </div>
  </main>
</template>
<script>

  export default {
    name: 'companies-home',
    props:{
    },
    data(){
      return{ 
        apiKey: this.$parent.apiKey,
        appLanguage: this.$parent.appLanguage,
      }
    },
    components: {
    },
    methods: {
      /* getCompanies(){
        axios.get(`https://api.themoviedb.org/3/search/company/list?api_key=${this.apiKey}&language=${this.appLanguage}`)
        .then((res) => res
          // 
        )
        .then((data) => {
          console.log(data)
        }
        )
      } */
    },
    mounted() {
      //this.getCompanies();
    }
  }
</script>